
.lightFooterHeading {
  color: #F6D012;
}

.servicesHeading {
		color: white;
		margin-top: 1em;
}

.navbar-brand a:before {
 /*    content: '';
 position: absolute;
 width: 150px;
 height: 120px;
 background: url("../images/premierLogo.png");
 background-size: cover;
 top: -34px;
 left: 0; */
}

.navbar-brand a {
  position: relative;
  padding-left: 155px;
}


.top-row .contact-box dl:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 26px;
    background: url("../images/icon1.png");
    left: 0;
    top: 5px;
    display: none;
}

.customLogo {
    background-color: yellow;
    color:black;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    width:auto;
    display: inline-block;
    position: relative;
}
.customLogo h6 {
    font-weight: 900;
    font-size: 1.3em;
    color:black;
    line-height: 1.3;
    text-shadow: white 0px 1px 0px;
}

.customLogo p {
    background-color: blue;
    color:white;
    border-radius: 10px;
    margin-top: 0;
    padding:2px 9px;
    font-weight: 700;

}

.logo-padding {
  padding-bottom: 40px;
}

.footerLogos img {
    height:70px;
    width: auto;

}

.footerLogos {
background-color: black;
text-align: center;
padding:10px;
}

.services img {
    height:200px;
    width:250px;

}
.servicesBody img {

    height : 300px;
    width: auto;
}

.custom-topmargin {
  margin-top: 25px;
}

.navbar-nav li:nth-of-type(4) .dropdown-menu {
    width: 448px
}

section.sect-404 {
  padding-top: 110px;
  padding-bottom: 253px;
  background: url("../images/specialist-vehicle2.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

 */
@brand-primary:         #0000ff; // gr
